.no-select {
  user-select: none;
}

.moonbackground{
  background-image: url(./MOONBACKGROUNDcrop.png);
  min-height: 80vh;
  background-size: cover;
  background-position: center;
}

.moon{
  max-width: 35rem;
    cursor: pointer;
  }

.moon-text{
  color: rgb(128, 51, 138);
}

/* .heading{
  background-color: rgb(201, 123, 211);
} */

.tally{
  font-size: 60px;
  color:rgb(128, 51, 138)
}

.clickbg{
background-color: rgb(167, 255, 243);
}

.autobg{
  background-color: rgb(250, 169, 140);
}


.card-edge{
  border-radius: 100px;
}
.body{
  background-color: rgb(133, 74, 141);
}

.font-chango{
  font-family: 'Chango', cursive;
}



  .rotate {
    animation: rotation 9s infinite linear;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }